<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="logconsole" xsi:type="Console" />
    <target name="FileLogging" xsi:type="File"
            fileName="${basedir}/logs/${level}/${logger}${shortdate}.log"
            createDirs="true"
            keepFileOpen="true"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}"/>
  </targets>

  

  <rules>
    <logger name="*" minlevel="Fatal" writeTo="logconsole"/>
    <logger name="CompressionLogger" minlevel="Info" writeTo="FileLogging"/>
    <logger name="ReceiverLogging" minlevel="Info" writeTo="FileLogging" />
    <logger name="NetworkLogging" minlevel="Info" writeTo="FileLogging"/>
    <logger name="ReceiverLogging" minlevel="Info" writeTo="FileLogging" />
    <logger name="SocketException" minlevel="Info" writeTo="FileLogging" />
    <logger name="FileReceiver" minlevel="Info" writeTo="FileLogging" />
    <logger name="FileSender" minlevel="Info" writeTo="FileLogging" />
    <logger name="UploadLogger" minlevel="Info" writeTo="FileLogging" />
    <logger name="HiddenFolderLogger" minlevel="Info" writeTo="FileLogging" />
    <logger name="MessageLogging" minlevel="Info" writeTo="FileLogging" />
  </rules>
</nlog>