<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="logfile" xsi:type="File" fileName="${basedir}/logs/Default/${level}${shortdate}.log"
    createDirs="true"/>
    <target name="logconsole" xsi:type="Console" />
    <target name="Receiver" xsi:type="File" fileName="${basedir}/logs/${level}/Receiver${shortdate}.log"
          createDirs="true"
          keepFileOpen="true" />
    <target name="Network" xsi:type="File" fileName="${basedir}/logs/${level}/NetworkHandler${shortdate}.log"
            createDirs="true"
            keepFileOpen="true" />
    <target name="Compression" xsi:type="File" fileName="${basedir}/logs/${level}/Compression${shortdate}.log"
            createDirs="true"
            keepFileOpen="true"/>
    <target name="SocketLogger" xsi:type="File" fileName="${basedir}/logs/${level}/SocketException${shortdate}.log"
            createDirs="true"
            keepFileOpen="true"/>
    <target name="fileReceiver" xsi:type="File" fileName="${basedir}/logs/${level}/fileReceiver${shortdate}.log"
            createDirs="true"
            keepFileOpen="true"/>
    <target name="fileSender" xsi:type="File" fileName="${basedir}/logs/${level}/fileSender${shortdate}.log"
            createDirs="true"
            keepFileOpen="true"/>
    <target name="uploadLogger" xsi:type="File" fileName="${basedir}/logs/${level}/fileReceiver${shortdate}.log"
            createDirs="true"
            keepFileOpen="true"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Fatal" writeTo="logconsole"/>
    <logger name="CompressionLogger" minlevel="Info" writeTo="Compression"/>
    <logger name="ReceiverLogging" minlevel="Info" writeTo="Receiver" />
    <logger name="NetworkLogging" minlevel="Info" writeTo="Network"/>
    <logger name="ReceiverLogging" minlevel="Info" writeTo="Receiver" />
    <logger name="SocketException" minlevel="Info" writeTo="SocketLogger" />
    <logger name="FileReceiver" minlevel="Info" writeTo="fileReceiver" />
    <logger name="FileSender" minlevel="Info" writeTo="fileSender" />
    <logger name="UploadLogger" minlevel="Info" writeTo="uploadLogger" />
  </rules>
</nlog>